html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,td,dd,form,fieldset,caption,legend,table,tr,td,th,address,blockquote,img{
    margin:0;
    padding:0;
}

img,fieldset {
    border:none;
}
body *,*:after,*:before{
    box-sizing:border-box;
}
legend{
    -webkit-apperance:none;
    appearance: none;
    display:block
    

}
button, summary{
    cursor:pointer;
}
body,button,input,table,textarea,select,a,caption{
    font-size:1rem;
    line-height:1.5;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
:root{
    --base-scale:calc(100vw/75);
    --h2-font-size:max(1em,min(4em,calc(var(--base-scale)*4)));
    --padding-size:max(1em,min(2em,calc(var(--base-scale)*2)));
    --margin-size:max(0.5em,min(2em,calc(var(--base-scale)*2)));
    --border-radius:max(1em,min(3em,calc(var(--base-scale)*3)));


}
html{
    
    height: 100%;
   overflow: hidden;

    --body-background:hsl(208, 100%, 95%);
    --form-background:hsl(208, 100%, 97%);
    --form-header: rgb(46, 119, 184);
    --font-color: rgb(33, 41, 43);
    --font-color-plavi:hsl(210, 100%, 43%);
    --font-color-crveni:rgb(198,0,0);
    --font-color-table:hsl(193, 8%, 36%);

    --boja-znaka-pou:rgba(11,69,94,.9);
    --form-header:var(--boja-znaka-pou);
    --max-width:60em;
    --linear_gradient:linear-gradient(180deg, hsl(193,40%,80%) -20%,white 20%);
    --background-color-hoover:hsl(203,40%,92%);
    --border-bottom:hsl(203, 22%, 81%);
    --form-placeholder: #60666c;
    --form-error:red;
    --table-thead-backgraund:hsl(208,60%,65%);
    --table-tr-even:hsl(208,100%,90%);
    --table-font-edit:hsl(208,100%,40%);
    --kartica-prognoza-background:hsla(208,6%,40%,40%);
    font-family: Roboto,Helvetica,Arial, Helvetica, sans-serif;
   

}



body {
    height:100%;
    overflow: hidden;
   
    color: var(--boja-znaka-pou);
   
   
}
.vanjski_kontejner{
    width: 100%;
    height:100%;
  /*  min-height: 100vh;*/
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-padding-block-start: 6em;
    overflow: auto;
}
header{
    display: flex;
    width:100%;
    min-height: 6em;
   
    padding: 1em 2em;
 
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    background-color: white;
    z-index: 100;
}
header nav{
    width:100%;
    max-width: var(--max-width);

    display: flex;
    justify-content: space-between;
    
}

header a, header label{
    background-color: white;
    
    cursor: pointer;
    display: block;
    text-decoration: none;
    color:var(--boja-znaka-pou);
    border-bottom: 2px solid transparent;
    opacity: 1;
    padding: 0.3em 0.5em;
    transition: border 0.5s, opacity 0.5s, background-color 0.5s;
}
header a:hover,header label:hover{
    border-bottom: 2px solid var(--boja-znaka-pou);
    opacity: 0.8;
    background-color: var(--background-color-hoover);
    
}
header nav ul{
    list-style: none;
    display: flex;
}


#id_hamburger{
    display:none;
 }
 
 label.svg_label{
     position:relative;
   left:-200em;
 
 }
 
 label.svg_label{
     display:inline-block;
   width:2.5em;
   height:2.5em;
   background-color: transparent;
 }
 
 .svg_hamburger{
 
   width:100%;
   height: 100%;
 }
 line{
   stroke:var(--boja-znaka-pou);
   stroke-width:13;
   stroke-linecap:round ;
   fill:none;
 transition:transform 0.5s;
 
 }
 #id_hamburger:checked+label>.svg_hamburger line:first-of-type{
     transform-origin: center center;
   transform:rotateZ(45deg) translateY(30%) ;
 }
 #id_hamburger:checked+label>.svg_hamburger line:nth-child(2){
     transform:scaleX(0);
   transform-origin: 10% 10%;
 }
 #id_hamburger:checked+label>.svg_hamburger line:last-of-type{
     transform-origin: center center;
   transform:rotateZ(-45deg) translateY(-30%) ;
 }



#file{
    display: none;
   
}
#jsonFile{
    display: none;
}

header >span{
 display: flex;
 align-items: center;
 font-size: 1.5em;
}

main{
    background-image: var(--linear_gradient);
    flex:1 1 auto;
}
h1{
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--boja-znaka-pou);
}
section{
    width:100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detalji_pokazi_detalji ul{
    width:100%;
    max-width: 40em;
    margin-top: 1em;
    background-color:var(--form-background);
    font-weight: bolder;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
   
    padding: 0 0.8em;
    transition: all 0.5s;

}
.detalji_pokazi_detalji ul:not(:first-of-type):hover{
    background-color:var(--background-color-hoover);
}

.detalji_pokazi_detalji ul>li:nth-of-type(1){
    flex:1 1 auto;
  
}
.detalji_pokazi_detalji ul>li:nth-of-type(2){

     flex: 0 0 12em;
  text-align: center;
  

}
.detalji_pokazi_detalji ul:not(:first-of-type)>li:nth-of-type(2){

    color:var(--font-color-crveni);
  

}
.detalji_pokazi_detalji ul>li:nth-of-type(3){
    flex: 0 0 3em;
 
}
.detalji_pokazi_detalji ul:not(:first-of-type)>li:nth-of-type(3){

    color:var(--font-color-plavi);
  

}
.detalji_pokazi_detalji ul>li:nth-of-type(4){
    flex:0 0 2em;
    text-align: center;
   
}
.detalji_pokazi_detalji ul:not(:first-of-type)>li:nth-of-type(4){

    cursor:pointer;
  


}

.kontejner ul{
    padding: 1.5em;
}
.kontejner_dl{
    width:100%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--form-background);
    height:0;
    border-bottom: 1px solid var(--border-bottom) ;
    overflow: hidden;
    transition:all 0.5s;
   
}
.pokazi_dl{
    height:var(--visina);
}

.gumb_pokazi{
    border:none;
    width: 1.3em;
    height:1.3em;
    border-radius: 1em;
    background-color: transparent;
   /* border-top: 0.4em solid var(--form-background);
    border-left:0.4em solid var(--form-background);*/
    border-top: 0.4em solid var(--form-header);
    border-left:0.4em solid var(--form-header);
    transform:rotate(45deg);
    transition:all 0.5s;
}
.gumb_pokazi:hover{
    box-shadow:inset 0.1em 0.1em 0.1em  var(--form-header),
   -0.1em -0.1em 0.1em  var(--form-header)
    ;
}
.gumb_dolje{
    transform:rotate(-135deg);
}

figure{
 
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}
.kontejner{
    margin: 0 auto;
}
table{
  
    width:100%;
    border-collapse: collapse;
    text-align: center;
   margin:2em 0;
}
caption{
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;
    background-color: white;
    padding:2em;
    font-size: 1.5em;
    text-align: start;
}
th,td{
    border-bottom:2px solid var(--border-bottom);
    padding: 1em;
}
th:first-child,td:first-child{
    text-align: start;
}
td:last-child{
    color:var(--font-color-crveni);
}
footer{
    min-height: 3em;
   text-align: center;
    flex:0 0 auto;
    margin-top: 2em;
}



canvas {
    margin: 1em;
}



footer>a{
    text-decoration: none;
    color:var(--boja-znaka-pou);
}


#spiner {
    height: 100%;
   
    border-radius: 50%;
 
    margin-left: auto;
    cursor: default;

}
.klizac{
display: none;
    text-transform: uppercase;
    width:50%;
    

}

.pokazi_klizac{
    display: block;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 2em;
    width:2em;
border-radius: 50%;
    background:var(--boja-znaka-pou);
    cursor: pointer;
  

}
#slider{
    -webkit-appearance: none;
    height: 2em;
    width:100%;
    border-radius:1em;

    background:var(--border-bottom);
    outline: none;
    opacity: 0.7;
    transition:opacity .2s;
   
  

}
#slider:hover{
    opacity: 1;
}


@media(max-width:38em){
    header{
          min-height: 4em;
       
        padding: 0.5em 1em;
     
      
    }
    h1{
     
        padding: 0.5em;
    font-size: 1.5em;
       
    }
    header a, header label{
     
        padding: 0.3em 0.4em;
        text-align: center;
        
    }

    label.svg_label{
        position:static;
      
    
    }
    header nav ul{
        min-width: 10em;
      position: absolute;
      flex-direction: column;
      left:0;
      top: 4em;
      
    }
    


    .detalji_pokazi_detalji ul>li:nth-of-type(2){

        flex: 0 0 8em;
     text-align: center;
     
   
   }
   canvas ,img{
    margin: 0.5em;
    max-width: 22em;
}

}

@media(max-width:25em){
    header{
          min-height: 4em;
       
        padding: 0.5em 1em;
     
      
    }
    h1{
     
        padding: 0.5em;
    font-size: 1.5em;
       
    }
    header a, header label{
     
        padding: 0.1em 0.3em;
        text-align: center;
        
    }

   


    .kontejner{
        width:100%;
        max-width: 22em;
        margin: 0 auto;
    }
    table{
        font-size: 1em;
    }
    caption{
      
        padding:1em;
        font-size: 1.2em;
        text-align: start;
    }
    
    .detalji_pokazi_detalji ul{
     
        font-weight: normal;



       font-size: medium;
    
    }
    .detalji_pokazi_detalji ul>li:nth-of-type(2){

        flex: 0 0 6em;
     text-align: center;
     
   
   }
   .detalji_pokazi_detalji ul>li:nth-of-type(3){
    flex: 0 0 2em;
 
}

.detalji_pokazi_detalji ul>li:nth-of-type(4){
    flex:0 0 2em;
    text-align: center;
   
}
   canvas ,img{
    margin: 0.5em;
    max-width: 18em;
}

}